<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1G-g3Z2hy7YDDI1x3vF5vjfE4wHcpYe4</string>
	<key>GCM_SENDER_ID</key>
	<string>25062643661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mflutterapps.appBloodPressureLog.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blood-pressure-logs-80128</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-pressure-logs-80128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25062643661:ios:b60c36d3effebf2fc91684</string>
</dict>
</plist>